autobot.co.id {
    reverse_proxy web:3001
    encode gzip
}

api.autobot.co.id {
    @websocket {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @websocket api:50050
    reverse_proxy api:50050
}

www.autobot.co.id {
    redir https://autobot.co.id{uri} permanent
}
